<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">

            {% for item in theme_config.slider.items %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
            
            {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
            {% for item in theme_config.slider.items %}
    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
    {% set image = item.image|first %}
      <img class="d-block img-fluid" style="height: 500px;" src="{{ image.path }}" alt="{{ item.title }}">
    </div>
            
            {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

