{% extends 'partials/base.html.twig' %}


{% block slider_1 %}
{% include 'partials/slider.html.twig' with {'slider_position': '1', 'page': page} %}
{% endblock %}

{% block slider_2 %}
<div class="container">
{% include 'partials/slider.html.twig' with {'slider_position': '2', 'page': page} %}
</div>
{% endblock %}


{% block slider_3 %}
<div class="container">
{% include 'partials/slider.html.twig' with {'slider_position': '3', 'page': page} %}
</div>
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}
